  .game-link {
      text-decoration: none;
      padding: 10px;
      border-radius: 5px;
      transition: 0.3s ease;
      background: none;
  }

  .main {
    background-color: #ee7900;
    height:100vh
  }

  .game-link:hover {
      background: #ff9b11 !important;
  }